 <!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  
 <div class="container">
    <h2 style="text-align: center; font-family: 'Times New Roman', Times, serif;">Login</h2>
  <form >
    <div class="form-group">
      <label for="name">Username:</label>
      <input type="text" class="form-control"  placeholder="Enter your Username "  [(ngModel)]="bean.adminname" name="adminname" >
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control"  placeholder="Enter password"  [(ngModel)]="bean.adminpassword" name="adminpassword" >
    </div>
    <!-- <button type="button" (click)="login()" class="btn btn-default" *ngIf="!auth.isLoggedIn">Login</button>
    <button (click)="logout()" class="btn btn-default"  *ngIf="auth.isLoggedIn">Logout</button> -->
  
  <p>
    <button  class="btn btn-default" (click)="login()" ng-if="!auth.isLoggedIn">Login</button>
    <button  class="btn btn-default" (click)="logout()" ng-if="auth.isLoggedIn">Logout</button>
  </p>
 <p>{{message}}</p>
</form>
</div> 
<router-outlet></router-outlet>
</body>
</html>
<!-- 
<p>
  login works!
</p>
<h1>Login Component</h1> -->


