<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a  routerLink="/user" routerLinkActive="active">Student</a> </li>
            <li class="nav-item"><a  routerLink="/admin" routerLinkActive="active">Admin</a></li>
            <!-- <li class="nav-item"><a  routerLink="/admin" routerLinkActive="active">Admin</a></li> -->
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>






 <!-- button dropdown -->
 <!-- <div class="dropdown" dropdown>
    <button class="btn btn-outline-primary" dropdown-open>My Heroes</button>
    <ul class="dropdown-menu">
        <li>    <a  routerLink="/user" routerLinkActive="active">Student</a>    
</li>
        <li>    <a  routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
        
    </ul>
  
    <div class="container">
        <router-outlet></router-outlet>
      </div>
</div>
<br/> 
 -->

<!-- <div>
  <nav>
    <a style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif" routerLink="/user" routerLinkActive="active">Student</a>    
    <a style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif" routerLink="/admin" routerLinkActive="active">Admin</a>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div> -->


    